body{
    color: black;
    background-color: brown;
}
h1{
    size: 500px;
    width : 400px;
    height: 300px;
    padding: 10px;
    background-color: aqua;
    color: blueviolet;
    text-align: center;
    tab-size: 10cm;
    margin-top: 10px;
    margin-bottom: 10px;
}